#bevel {
    -fx-background-color:
            linear-gradient(#C44569, #ffffff),
            linear-gradient(#C44569 0%, #d9d9d9 20%, #C44569 100%),
            linear-gradient(#C44569 0%, #ffffff 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);

    /* Adjusting width and height */
    -fx-min-width: 80px;  /* Minimum width */
    -fx-min-height:30px;  /* Minimum height */
    -fx-pref-width: 145px; /* Preferred width */
    -fx-pref-height:35px; /* Preferred height */
}

#bevel:hover {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#C44569, #909090),
            linear-gradient(#C44569 0%, #C44569 50%, #C44569 51%, #C44569 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
